
<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <table class="celloTable">
            <thead>
                <tr><th style="display:none">ID</th><th>Item</th><th></th></tr>
            </thead>
            <tbody>
                @Html.Raw(ViewBag.ItemTable);
            </tbody>
        </table>
    </div>
    <div class="col-md-3">

    </div>
    
    <script>
        $(document).ready(function () {
            $('.celloTable').DataTable();
        });
    </script>
</div>