@using Model;

@{
    List<Model.Member> MemberViewModel = Model;
}
<div class="col-md-2">

</div>
<div class="col-md-6">
    @Html.ActionLink("Add", "ManageMember", "Home",new { @class= "btn btn-primary pull-right" })
    @Html.Partial("~/Views/Home/_DataGridPartial.cshtml", MemberViewModel);
</div>
<div class="col-md-2">

</div>

